# Python virtual environments
.env
.venv/
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Caches and test artifacts
.pytest_cache/
.mypy_cache/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Misc
.DS_Store
